<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'homepage' %}">
    <div class="sidebar-brand-icon">
      <i class="fas fa-home"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Beranda</div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" href="{% url 'admin_dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashbor</span>
    </a>
  </li>

  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePost" aria-expanded="true"
       aria-controls="collapsePost">
      <i class="fas fa-fw fa-thumbtack rotate-15"></i>
      <span>Pos</span>
    </a>
    <div id="collapsePost" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Semua Pos</a>
        <a class="collapse-item" href="#">Tambah Baru</a>
        <a class="collapse-item" href="#">Kategori</a>
        <a class="collapse-item" href="#">Tag</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
       aria-controls="collapsePages">
      <i class="fas fa-fw fa-copy"></i>
      <span>Laman</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Semua Laman</a>
        <a class="collapse-item" href="#">Tambah Baru</a>
      </div>
    </div>
  </li>
</ul>