// Reference https://gist.github.com/shelldandy/02ad1a9f8b5b86d1b2e4dd26a11967b2

$progress-color: #ff0000;

#nprogress .bar {
  background: $progress-color;
}

#nprogress .peg {
  box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color;
}

#nprogress .spinner-icon {
  border-top-color: $progress-color;
  border-left-color: $progress-color;
}