{% extends 'layouts/admin_layout.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load form_tags %}

{% block extra_meta %}<meta name="robots" content="noindex,nofollow">{% endblock %}
{% block title %}{% trans "Add File Media" %}{% endblock %}

{% block content %}
  <h1 class="h3 mb-0 text-gray-800">{% trans "Add File Media" %}</h1>
  <div class="row">
    <div class="col col-lg-4 col-12">
      <form action="{% url 'admin_file_media_create' %}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% render_field form.name class="d-none" %}
        <div class="form-group">
          <div class="custom-file">
            {% render_field form.media class=form.media|input_class %}
            <label class="custom-file-label" for="{{ form.media.auto_id }}">{% trans "Choose file" %}</label>
          </div>

          {% if form.is_bound %}
            {% if form.media.errors %}
              {% for error in form.media.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
          {% endif %}

          {% if form.media.help_text %}
            <small class="form-text text-muted">
              {{ form.media.help_text|safe }}
            </small>
          {% endif %}
          </div>
        <button type="submit" class="btn btn-success">Upload File</button>
      </form>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col col-lg-4 col-12" id="img-container"></div>
  </div>
{% endblock %}

{% block extra_body %}
  <script>
    var $file = document.getElementById('id_media');
    var $imgCont = document.getElementById('img-container');
    var $name = document.getElementById('id_name');
    $file.addEventListener('change', function() {
      $name.value = this.files[0].name;

      var reader = new FileReader();
      reader.addEventListener('load', function() {
        $imgCont.innerHTML = '<img src="' + reader.result + '" class="img-fluid">';
      }, false);

      if (this.files[0]) {
        reader.readAsDataURL(this.files[0]);
      }
    });
  </script>
{% endblock %}