{% extends 'layouts/admin_layout.html' %}
{% load static %}
{% load i18n %}

{% block extra_meta %}<meta name="robots" content="noindex,nofollow">{% endblock %}
{% block title %}{% trans "New Post" %}{% endblock %}

{% block extra_head %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>This is content</h1>
  <form method="POST" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success btn-block">{% trans "Submit" %}</button>
  </form>
{% endblock %}

{% block extra_body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
  <script src="{% static 'js/summernote-ext-highlight.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $('#id_body').summernote({
        toolbar: [
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough', 'superscript', 'subscript']],
          ['fontstyle', ['fontname', 'fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']],
          ['highlight', ['highlight']],
          ['misc', ['codeview']]
        ]
      });
    });
  </script>
{% endblock %}